:root {
  --clr-primary-red: hsla(0, 100%, 67%);
  --clr-primary-yellow: hsl(39, 100%, 56%);
  --clr-primary-teal: hsl(166, 100%, 37%);
  --clr-primary-blue: hsl(234, 85%, 45%);

  --clr-background-red: hsla(0, 100%, 67%, 0.13);
  --clr-background-yellow: hsl(39, 100%, 56%, 0.13);
  --clr-background-teal: hsl(166, 100%, 37%, 0.13);
  --clr-background-blue: hsl(234, 85%, 45%, 0.13);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-light-blue: hsl(221, 100%, 96%);
  --clr-neutral-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-blue: hsl(224, 30%, 27%);

  --gradient-background-one: hsl(252, 100%, 67%);
  --gradient-background-two: hsl(241, 81%, 54%);

  --gradient-circle-one: hsla(256, 72%, 46%, 1);
  --gradient-circle-two: hsla(241, 72%, 46%, 0);

  --ff-base: "HankenGrotesk";

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: grid;
  place-items: center;
}

main {
  display: grid;
  place-items: center;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  min-height: 100vh;
}

.results {
  color: var(--clr-neutral-lavender);
  background-image: linear-gradient(
    var(--gradient-background-one),
    var(--gradient-background-two)
  );
  margin: 0px;
  padding: 1.5rem 4rem;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  background-image: linear-gradient(
    var(--gradient-circle-one),
    var(--gradient-circle-two)
  );
  width: 8rem;
  height: 8rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin: 0.8rem;
}

.circle__text_one {
  font-size: 2.4rem;
  color: var(--clr-neutral-white);
  font-weight: var(--fw-extra-bold);
}

.circle__text_two {
  font-size: 0.9rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}

.summary {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1.2rem;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.score {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 214, 214);
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.score > span:nth-child(1) {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.reaction {
  background-color: var(--clr-background-red);
  color: var(--clr-primary-red);
}

.reaction > span:nth-child(1)::before {
  content: "";
  background-image: url("assets/images/icon-reaction.svg");
  width: 20px;
  height: 20px;
}

.memory {
  background-color: var(--clr-background-yellow);
  color: var(--clr-primary-yellow);
}

.memory > span:nth-child(1)::before {
  content: "";
  background-image: url("assets/images/icon-memory.svg");
  width: 20px;
  height: 20px;
}

.verbal {
  background-color: var(--clr-background-teal);
  color: var(--clr-primary-teal);
}

.verbal > span:nth-child(1)::before {
  content: "";
  background-image: url("assets/images/icon-verbal.svg");
  width: 20px;
  height: 20px;
}

.visual {
  background-color: var(--clr-background-blue);
  color: var(--clr-primary-blue);
}

.visual > span:nth-child(1)::before {
  content: "";
  background-image: url("assets/images/icon-visual.svg");
  width: 20px;
  height: 20px;
}

.button {
  color: var(--clr-neutral-white);
  background-color: var(--clr-neutral-dark-blue);
  border-radius: 1rem;
  border: none;
  padding: 0.4rem;
}

.button:hover {
  background-image: linear-gradient(
    var(--gradient-background-one),
    var(--gradient-background-two)
  );
  background-color: transparent;
}

@media (min-width: 48rem) {
  main {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 44rem;
    border-radius: 2rem;
  }

  .results {
    border-radius: 2rem;
  }

  .summary {
    border-radius: 0 2rem 2rem 0;
    box-shadow: 22px 22px 46px -20px rgba(0, 0, 0, 0.34);
  }
}
